{% extends 'base.html' %}



{% block content %}

    <div class="text-center mw-500 m-auto">
         <div>
             {% if target_user.profile %}
                 <img src="{{ target_user.profile.image.url }}"
                      class="profile_image m-4"
                      alt="profile image">
                 <h2 class="NNR_B">{{ target_user.profile.nickname }}</h2>
                 <h5>{{ target_user.profile.message }}</h5>
             {% else %}
             <h4 class="NNR_B">
                 <a href="{% url 'profileapp:create' %}">
                     Create Profile
                 </a>
             </h4>
             {% endif %}
         </div>
         <div class="m-5">
             {{ target_user.date_joined }}
         </div>
        {% if user == target_user %}
         <div>
             <p>
                 <a href="{% url 'accountapp:update' pk=user.pk %}" class="hideline">
                     Update Info
                 </a>
             </p>
         </div>
         <div>
             <a href="{% url 'accountapp:delete' pk=target_user.pk %}" class="hideline">
                 Quit
             </a>
         </div>
        {% endif %}
    </div>

{% endblock %}