{% extends 'base.html' %}



{% block content %}

    <div class="text-center mw-500 m-auto">
         <div>
             <h4>{{ target_user.username }}</h4>
         </div>
         <div class="m-5">
             {{ target_user.date_joined }}
         </div>
        {% if user == target_user %}
         <div>
             <p>
                 <a href="{% url 'accountapp:update' pk=user.pk %}" class="hideline">
                     Update Info
                 </a>
             </p>
         </div>
         <div>
             <a href="{% url 'accountapp:delete' pk=target_user.pk %}" class="hideline">
                 Quit
             </a>
         </div>
        {% endif %}
    </div>

{% endblock %}