.kissen_logo{
    text-align: center; margin: 2rem 0;
}

.kissen_header_logo{
    font-family: 'Monofett', cursive; font-size: 100px;
}

.kissen_header_button{
    margin-bottom: 2rem;
}

.kissen_footer_logo{
    font-family: 'Monofett', cursive;
    -webkit-transform: rotateX(180deg);
    font-size: 30px;
}

.kissen_footer_button{
    font-size: 0.9rem;
}

.hideline{
    text-decoration: none;
}

.mw-500{
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.profile_image{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNR_B{
    font-family: 'NanumSquareRoundOTFEB', cursive;
}

.round_button{
    color: black;
    text-decoration: none;
    box-shadow: 0 0 5px midnightblue;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: cadetblue;
}




